Flask
pandas
numpy
requests
scikit-learn
tensorflow
redis
PyMySQL
yfinance
plotly
diskcache
matplotlib
nltk
pip
wheel
cryptography
pillow
jinja2
base
setuptools
packaging
zipp
future
platformdirs
